/* Use your own code or past solution for Great Idea Web Page CSS here!

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* NAVIGATION / HEADER */

header, nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    color: blueviolet;
}

nav a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-size: 20px
}

/***************/


/* INTRO*/


#intro {
    display: flex;
    justify-content: center;
    margin: 75px;
}

#intro h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 75px;
    text-align: center;
    margin: 50px 75px;
    width: 100%;
    height: auto;
}

#intro button {
    display: flex;
    align-content: center;
    margin: 20px 0 20px 145px;
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 5%;
    background: white;
    font-size: large;
}



/***************/


/* FIRST SECTION */

#top-part {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 120px;
}

.two-col{
    width: 100%;
    font-size: 20px;
    }
    

hr {
    width: 77%;
}

/**************/



/* CENTER IMAGE */

.middle-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**************/




/* SECOND SECTION */

#bottom-part {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 120px;
}

.three-col{
    width: 100%;
    margin: 10px;
    font-size: 20px;
}

/**************/




/* CONTACT */

.contact {
    margin-left: 14.5%;
    margin-top: 25px;
}

.contact p {
    margin-top: 10px;
}
/*************/




/* FOOTER */

footer {
    text-align: center;
    margin-bottom: 20px;
}


/********** MEDIA QUERIES *************/

@media (max-width: 700px) {
  
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        background-color: lightgray;
        width: 100%;
    }
    nav a {
      margin: 10px 0px;
      font-size: 26px;
    }
  } 

  @media (max-width: 700px) {
    div #intro h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    text-align: center;
    width: 100%;
    }
  }

  @media (max-width: 700px) {
    #intro img {
        display: none;
    }
  }